<html lang="en">

<head>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css">
    
    <link rel="stylesheet" href="css/app.css" type="text/css" >
</head>

<body ng-app="ObxQpxApp" ng-cloak>
    <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
    <div layout="column" layout-fill>
        <md-toolbar class="md-short">
            <div class="md-toolbar-tools">
                <span>Qpx App</span>
                <!-- fill up the space between left and right area -->
                <span flex></span>
                <md-button>
                    About
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-margin layout-padding layout-fill ng-controller="MainCtrl" ng-cloak>
            <div layout="row" id="start">
                <!-- 1% padding to the left -->
                <div flex="1"></div>

                <!-- The main action happens here -->
                <md-card flex>
                    <md-card-content>

                        <div layout>
                            <md-input-container flex>
                                <label>Origin</label>
                                <input name="origin" ng-model="request.origin" required>
                                <div ng-show="request.origin === ''">
                                    <div ng-message="required">required</div>
                                </div>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Destination</label>
                                <input name="destination" ng-model="request.destination" required>
                                <div ng-show="request.destination === ''">
                                    <div ng-message="required">required</div>
                                </div>
                            </md-input-container>
                            <div flex="5"></div>
                            <div>
                                <md-input-container flex>
                                    <label style="color: #AAA;">Stops</label>
                                    <md-select placeholder="Max stops" ng-model="request.outboundMaxStops">
                                        <div ng-repeat="p in ['Non stop', 1, 2, 3, 4, 5, 6, 7, 8]">
                                            <md-option value="{{p}}">{{p}}</md-option>
                                        </div>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Max connection time</label>
                                <md-select placeholder="Max connection time" ng-model="request.outboundMaxConnTime" ng-disabled="request.outboundMaxStops == 'Non stop'">
                                    <div ng-repeat="p in ['1 hour', '2 hours', '3 hours', '4 hours', '5 hours', '6 hours', '7 hours', '8 hours', '9 hours', '10 hours', '11 hours', '12 hours', 'No maximum']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout>
                            <md-datepicker style="margin-top: 15px;" ng-model="request.outboundDepartureDate" md-placeholder="Departure Date" required></md-datepicker>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Earliest Departure Time</label>
                                <md-select placeholder="Earliest Departure Time" ng-model="request.outboundEarliestTime">
                                    <div ng-repeat="p in ['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', 'No preference']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="1"></div>
                            <md-input-container>
                                <md-select placeholder="am" ng-model="request.outboundEarliestAmPm">
                                    <div ng-repeat="p in ['am', 'pm']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Latest Departure Time</label>
                                <md-select placeholder="Latest Departure Time" ng-model="request.outboundLatestTime">
                                    <div ng-repeat="p in ['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', 'No preference']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="1"></div>
                            <md-input-container>
                                <md-select placeholder="pm" ng-model="request.outboundLatestAmPm">
                                    <div ng-repeat="p in ['am', 'pm']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                        </div>
                        
                        <div layout>
                            <md-input-container>
                                <label style="color: #AAA;">Prefered Cabin</label>
                                <md-select placeholder="Prefered Cabin" ng-model="request.outboundPreferedCabin">
                                    <div ng-repeat="p in ['Coach', 'Premium Coach', 'Business', 'First Class', 'No preference']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container>
                                <label style="color: #AAA;">Alliance</label>
                                <md-select placeholder="Alliance" ng-model="request.outboundAlliance">
                                    <div ng-repeat="p in ['OneWorld', 'SkyTeam', 'Star', 'None']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Permitted Carriers</label>
                                <input name="origin" ng-model="request.outboundPermittedCarriers">
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Prohibited Carriers</label>
                                <input name="origin" ng-model="request.outboundProhibitedCarriers">
                            </md-input-container>
                        </div>

                        <div layout>
                            <md-input-container>
                                <label style="color: #AAA;">Tickets</label>
                                <md-select placeholder="Number of tickets" ng-model="request.numTickets">
                                    <div ng-repeat="p in [1,2,3,4,5,6,7,8,9,10]">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Max Price</label>
                                <input name="max-price" ng-model="request.maxPrice">
                            </md-input-container>
                            <div flex="5"></div>
                            <div>
                                <md-checkbox aria-label="Refundable" ng-model="request.refundable" class="md-primary" style="margin-top: 30px;">
                                    <label style="color: #AAA;">Refundable</label>
                                </md-checkbox>
                            </div>
                            <div flex="5"></div>
                            <div>
                                <md-checkbox aria-label="RoundTrip" ng-model="request.roundtrip" class="md-primary" style="margin-top: 30px;">
                                    <label style="color: #AAA;">Round Trip</label>
                                </md-checkbox>
                            </div>
                        </div>                                                

                        <div layout ng-show="request.roundtrip">
                            <md-input-container flex>
                                <label>Destination</label>
                                <input name="destination" ng-model="request.destination" disabled>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Origin</label>
                                <input name="origin" ng-model="request.origin" disabled>
                            </md-input-container>
                            <div flex="5"></div>
                            <div>
                                <md-input-container flex>
                                    <label style="color: #AAA;">Stops</label>
                                    <md-select placeholder="Max stops" ng-model="request.inboundMaxStops">
                                        <div ng-repeat="p in ['Non stop', 1, 2, 3, 4, 5, 6, 7, 8]">
                                            <md-option value="{{p}}">{{p}}</md-option>
                                        </div>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Max connection time</label>
                                <md-select placeholder="Max connection time" ng-model="request.inboundMaxConnTime" ng-disabled="request.inboundMaxStops == 'Non stop'">
                                    <div ng-repeat="p in ['1 hour', '2 hours', '3 hours', '4 hours', '5 hours', '6 hours', '7 hours', '8 hours', '9 hours', '10 hours', '11 hours', '12 hours', 'No maximum']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                        </div>
                                                
                        <div layout ng-show="request.roundtrip">
                            <md-datepicker style="margin-top: 15px;" ng-model="request.inboundDepartureDate" md-placeholder="Return Date" required></md-datepicker>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Earliest Return Time</label>
                                <md-select placeholder="Earliest Return Time" ng-model="request.inboundEarliestTime">
                                    <div ng-repeat="p in ['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', 'No preference']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="1"></div>
                            <md-input-container>
                                <md-select placeholder="am" ng-model="request.inboundEarliestAmPm">
                                    <div ng-repeat="p in ['am', 'pm']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Latest Return Time</label>
                                <md-select placeholder="Latest Return Time" ng-model="request.inboundLatestTime">
                                    <div ng-repeat="p in ['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', 'No preference']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="1"></div>
                            <md-input-container>
                                <md-select placeholder="pm" ng-model="request.inboundLatestAmPm">
                                    <div ng-repeat="p in ['am', 'pm']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout ng-show="request.roundtrip">
                            <md-input-container>
                                <label style="color: #AAA;">Prefered Cabin</label>
                                <md-select placeholder="Prefered Cabin" ng-model="request.inboundPreferedCabin">
                                    <div ng-repeat="p in ['Coach', 'Premium Coach', 'Business', 'First Class', 'No preference']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container>
                                <label style="color: #AAA;">Alliance</label>
                                <md-select placeholder="Alliance" ng-model="request.inboundAlliance">
                                    <div ng-repeat="p in ['OneWorld', 'SkyTeam', 'Star', 'None']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Permitted Carriers</label>
                                <input name="origin" ng-model="request.inboundPermittedCarriers">
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Prohibited Carriers</label>
                                <input name="origin" ng-model="request.inboundProhibitedCarriers">
                            </md-input-container>
                        </div>

                        <!-- The submit button -->
                        <div layout>
                            <div flex="90"></div>
                            <md-button class="md-primary md-fab fa fa-search"  ng-click="submit()">
                            </md-button>
                        </div>
                        
                    </md-card-content>
                </md-card>

                <md-card>
                    <md-card-content>
                        <md-list style="padding: 12px;">
                            <md-card-header class="md-no-sticky">Sale Countries</md-card-header>
                            <md-list-item ng-repeat="country in countries">
                                <p>{{ country.name }}</p>
                                <md-checkbox class="md-primary" ng-model="country.wanted"></md-checkbox>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
                <!-- 1% padding to the right -->
                <div flex="1"></div>
            </div>

            <div layout="row" id="result">                
                <div flex="1"></div>
                <md-card flex>
                    <md-card-content>
                        <md-progress-circular md-mode="indeterminate" ng-show="isSearching && !doneSearching"></md-progress-circular>

                        <md-content ng-show="doneSearching">
                            <div layout="row">
                                <div flex="4"></div>
                                <md-select placeholder="Currency conversion" ng-model="displayInCurrency" ng-change="changeCurrency()">
                                    <div ng-repeat="p in ['Display in sale country currency', 'Convert to USD', 'Convert to EUR', 'Convert to GBP']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                                <div flex="80"></div>
                                    <md-button class="md-primary md-fab fa fa-envelope"  ng-click="sendMail()">
                                </md-button>                                
                            </div>
                            
                            <md-list>                                
                                <md-list-item class="md-3-line" ng-repeat="trip in response.trips | orderBy:'LowestFare'">
                                    <div class="md-list-item-text">                                        
                                        <div layout="row">
                                            <table width="100%">
                                                <tr>
                                                    <td width="20%">Price: <strong>{{trip.currency}} {{trip.price}}</strong></td>
                                                    <td>Sale Country: <strong>{{trip.saleCountry}}</strong></td>
                                                </tr>
                                            </table>                                                                                        
                                        </div>
                                        <div ng-repeat="slice in trip.slices">
                                            <table width="100%">
                                                <tr ng-repeat="segment in slice.segment">
                                                    <td width="20%">Flight: {{segment.flight.carrier}} {{segment.flight.number}}</td>
                                                    <td width="15%">Duration: {{segment.duration | durationFilter}}</td>
                                                    <td width="15%">Cabin: {{segment.cabin}}</td>                                                                            
                                                    <td>
                                                        <table width="100%">                                                                                                                    
                                                            <tr ng-repeat="leg in segment.leg" style="border-bottom: 1px dotted #ADADAD;">
                                                                <td width="100%">
                                                                    <p>Depart: {{leg.origin}} {{leg.departureTime | prettyDate}}</p>
                                                                    <p>Arrive: {{leg.destination}} {{leg.arrivalTime | prettyDate}}</p>
                                                                    <p>Mileage: {{leg.mileage}}</p>                                                                
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>    
                                            </table>                                            
                                        </div>
                                                                                                                        
                                        <p>
                                            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" class="md-primary">
                                                Select
                                            </md-checkbox>                                        
                                        </p>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-card-content>
                </md-card>
                <div flex="1"></div>                
            </div>

        </md-content>

    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <!-- Angular Material Data table -->
    <script src="https://cdn.rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.min.js"></script>

    <!-- Rx -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.0.7/rx.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rx-angular/1.0.4/rx.angular.min.js"></script>
    
    <!-- Lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    
    <!-- Moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>    

    <!-- App specific -->
    <!--<script src="js/constants.js"></script>-->
    <script src="js/app.js"></script>

</body>

</html>