<html lang="en">

<head>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
</head>

<body ng-app="ObxQpxApp" ng-cloak>
    <div layout="column" layout-fill>
        <md-toolbar class="md-short">
            <div class="md-toolbar-tools">
                <span>Qpx App</span>
                <!-- fill up the space between left and right area -->
                <span flex></span>
                <md-button>
                    About
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-margin layout-padding layout-fill ng-controller="MainCtrl" ng-cloak>
            <div layout="row">
                <!-- 1% padding to the left -->
                <div flex="1"></div>

                <!-- The main action happens here -->
                <md-card flex>
                    <md-card-content>
                        
                        <div layout>
                            <md-input-container flex>
                                <label>Origin</label>
                                <input name="origin" ng-model="origin" required>
                                <div ng-messages="qpxForm.origin.$error" ng-show="qpxForm.origin.$dirty">
                                    <div ng-message="required">This is required!</div>
                                </div>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Destination</label>
                                <input name="destination" ng-model="destination" required>
                                <div ng-messages="qpxForm.destination.$error" ng-show="qpxForm.destination.$dirty">
                                    <div ng-message="required">This is required!</div>
                                </div>
                            </md-input-container>
                            <div flex="5"></div>
                            <div>
                                <md-checkbox aria-label="NonStop" ng-model="data.nonstopOutbound" class="md-primary" style="margin-top: 30px;">
                                    <label style="color: #AAA;">NonStop</label>
                                </md-checkbox>
                            </div>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Max connection time</label>
                                <md-select placeholder="Max connection time" ng-model="outboundMaxConnTime">
                                    <div ng-repeat="p in ['1 hour', '2 hours', '3 hours', '4 hours', '5 hours', '6 hours', '7 hours', '8 hours', '9 hours', '10 hours', '11 hours', '12 hours', 'No maximum']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout>
                            <md-datepicker style="margin-top: 15px;" ng-model="departureDate" md-placeholder="Departure Date" required></md-datepicker>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Earliest Departure Time</label>
                                <md-select placeholder="Earliest Departure Time" ng-model="outboundEarliestTime">
                                    <div ng-repeat="p in ['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', 'No preference']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="1"></div>
                            <md-input-container>
                                <md-select placeholder="am" ng-model="outboundEarliestAmPm">
                                    <div ng-repeat="p in ['am', 'pm']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Latest Departure Time</label>
                                <md-select placeholder="Latest Departure Time" ng-model="outboundLatestTime">
                                    <div ng-repeat="p in ['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', 'No preference']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="1"></div>
                            <md-input-container>
                                <md-select placeholder="pm" ng-model="outboundLatestAmPm">
                                    <div ng-repeat="p in ['am', 'pm']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout>
                            <md-input-container>
                                <label style="color: #AAA;">Tickets</label>
                                <md-select placeholder="Number of tickets" ng-model="numTickets">
                                    <div ng-repeat="p in [1,2,3,4,5,6,7,8,9,10]">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>                                    
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Max Price per ticket per segment</label>
                                <input name="max-price" ng-model="maxPrice">
                                <div ng-messages="qpxForm.origin.$error" ng-show="qpxForm.origin.$dirty">
                                    <div ng-message="required">This is required!</div>
                                </div>
                            </md-input-container>
                            <div flex="5"></div>
                            <div>
                                <md-checkbox aria-label="Refundable" ng-model="data.refundable" class="md-primary" style="margin-top: 30px;">
                                    <label style="color: #AAA;">Refundable</label>
                                </md-checkbox>
                            </div>
                            <div flex="5"></div>
                            <div>
                                <md-checkbox aria-label="RoundTrip" ng-model="data.roundtrip" class="md-primary" style="margin-top: 30px;">
                                    <label style="color: #AAA;">Round Trip</label>
                                </md-checkbox>
                            </div>
                        </div>
                        
                        <div layout ng-show="data.roundtrip">
                            <md-input-container flex>
                                <label>Destination</label>
                                <input name="destination" ng-model="destination" disabled>                                
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Origin</label>
                                <input name="origin" ng-model="origin" disabled>                                
                            </md-input-container>                                                                                    
                            <div flex="5"></div>
                            <div>
                                <md-checkbox aria-label="NonStop" ng-model="data.nonstopInbound" class="md-primary" style="margin-top: 30px;">
                                    <label style="color: #AAA;">NonStop</label>
                                </md-checkbox>
                            </div>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Max connection time</label>
                                <md-select placeholder="Max connection time" ng-model="inboundMaxConnTime">
                                    <div ng-repeat="p in ['1 hour', '2 hours', '3 hours', '4 hours', '5 hours', '6 hours', '7 hours', '8 hours', '9 hours', '10 hours', '11 hours', '12 hours', 'No maximum']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                        </div>
                        
                        <div layout ng-show="data.roundtrip">
                            <md-datepicker style="margin-top: 15px;" ng-model="departureDate" md-placeholder="Return Date" required></md-datepicker>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Earliest Return Time</label>
                                <md-select placeholder="Earliest Return Time" ng-model="inboundEarliestTime">
                                    <div ng-repeat="p in ['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', 'No preference']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="1"></div>
                            <md-input-container>
                                <md-select placeholder="am" ng-model="inboundEarliestAmPm">
                                    <div ng-repeat="p in ['am', 'pm']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label style="color: #AAA;">Latest Return Time</label>
                                <md-select placeholder="Latest Return Time" ng-model="inboundLatestTime">
                                    <div ng-repeat="p in ['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', 'No preference']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="1"></div>
                            <md-input-container>
                                <md-select placeholder="pm" ng-model="inboundLatestAmPm">
                                    <div ng-repeat="p in ['am', 'pm']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>                            
                        </div>

                        <div layout>
                            <md-input-container>
                                <label style="color: #AAA;">Prefered Cabin</label>
                                <md-select placeholder="Prefered Cabin" ng-model="preferedCabin">
                                    <div ng-repeat="p in ['Coach', 'Premium Coach', 'Business', 'First Class', 'No preference']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container>
                                <label style="color: #AAA;">Alliance</label>
                                <md-select placeholder="Alliance" ng-model="alliance">
                                    <div ng-repeat="p in ['OneWorld', 'SkyTeam', 'Star', 'None']">
                                        <md-option value="{{p}}">{{p}}</md-option>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Permitted Carriers</label>
                                <input name="origin" ng-model="origin">
                                <div ng-messages="qpxForm.origin.$error" ng-show="qpxForm.origin.$dirty">
                                    <div ng-message="required">This is required!</div>
                                </div>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <label>Prohibited Carriers</label>
                                <input name="origin" ng-model="origin">
                                <div ng-messages="qpxForm.origin.$error" ng-show="qpxForm.origin.$dirty">
                                    <div ng-message="required">This is required!</div>
                                </div>
                            </md-input-container>                            
                        </div>
                        <!--
                        <div layout>

                            <md-input-container flex>
                                <label>Start date</label>
                                <input type="date" ng-model="info.departuredate">
                            </md-input-container>
                            <md-input-container flex>
                                <label>End date</label>
                                <input type="date" ng-model="info.returndate">
                            </md-input-container>
                        </div>
                        -->
                        
                        <!-- The submit button -->
                        <div layout>
                            <div flex="90"></div>
                            <md-button class="md-primary md-fab" ng-click="submit()">
                            </md-button>
                        </div>

                        <md-content ng-show="fareinfo">
                            <md-list>
                                <md-subheader class="md-no-sticky">Results</md-subheader>
                                <md-list-item class="md-3-line" ng-repeat="item in fareinfo | orderBy:'LowestFare'">
                                    <div class="md-list-item-text">
                                        <h3>Destination: {{ item.DestinationLocation }}</h3>
                                        <h4>Lowest fare: $ {{ item.LowestFare }}</h4>
                                        <p>Lowest non-stop fare: $ {{ item.LowestNonStopFare }}</p>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-card-content>
                </md-card>

                <md-card>
                    <md-card-content>
                        <md-list style="padding: 12px;">
                        <md-card-header class="md-no-sticky">Sale Countries</md-card-header>
                        <md-list-item ng-repeat="country in countries">
                            <p>{{ country.name }}</p>
                            <md-checkbox class="md-primary" ng-model="country.wanted"></md-checkbox>
                        </md-list-item>
                    </md-list>    
                    </md-card-content>
                </md-card>
                <!-- 1% padding to the right -->
                <div flex="1"></div>
            </div>
        </md-content>
        
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="js/app.js"></script>

</body>

</html>